<!DOCTYPE html>
<html lang="en"> 
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" 
				href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
				integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
				crossorigin="anonymous">
				
		<title>Cohort analys</title> 
	</head>
	
	<body>
    <div class="container-fuild">
		  <div class="row align-items-center justify-content-lg-center">
				<div class="col-4">
					<h3 class="display-3 text-center"> 
              {{status_line["label"]}}
          </h3>
				</div>
      </div>
      {% block subblock %}

      {% endblock %}
    </div>
	</body> 
</html>
